body {
  margin: 0;
  padding: 0;
  background: #0f1220;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}

input:not([type="checkbox"]),
select {
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

button {
  background: #E6C35C;
  color: #11131F;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}